
.home-page {
  height: 100vh;

  .title-segment {
    min-height: 400;
    padding: 1em 0em;

    .title {
      font-size: 4em;
      font-weight: normal;
      margin-bottom: 0;
      margin-top: 2em;
    }

    .subtitle {
      font-size: 1.7em;
      font-weight: normal;
    }
  }

  .main-segment {
    border-bottom: none !important;
  }

  .footer-segment {
    position: absolute;
    width: 100%;
    bottom: 0
  }
}