@import "../../assets/base-theme.scss";

.article {
  padding-left: 12.5%;
  width: 100%;
  
  blockquote {
    font-style: italic;
  }

  h1 {
    font-family: ltc-bodoni-175, serif;
    
    font-size: 3rem;
    font-weight: 100;
  }
  
  h2 {
    font-family: ltc-bodoni-175, serif;
    font-size: 2rem;
    font-weight: 100;
  }

  h3 {
    font-family: ltc-bodoni-175, serif;
    font-size: 1.75rem;
    font-weight: 100;
  }

  p {
    font-family: $font-family-calson;
    font-size: 1.4rem;
    width: 55%;
  }

  pre {
    width: 55%;
  }

  code {
    font-family: lft-etica-mono;
    color: darkblue;
  }

  li {
    font-family: $font-family-calson;
    font-size: 1.4rem;
  }
}