@import "../../assets/base-theme.scss";
@import "../Navigation/styles.scss";

$body-color: black;
$accent: black;

.articles-page {
  .navigation {
    @extend .navigation-default-desktop;
    .link a {
      color: $body-color;
      text-decoration-color: $accent !important;
    }
  }
}

.article-nav {
  font-family: $font-family-serif-header;
  font-weight: 200;
  font-size: 32px;

  .link {
    text-decoration-color: $accent !important;
    a {
      text-decoration: none;
      text-decoration-color: black !important;
      &:hover {
        text-decoration-thickness: 1px !important;
      }
    }
  }
}

.articles-navigation {

}

.article {
  padding-left: 12.5%;
  @media only screen and (max-width: 1024px) { padding-left: 5% }
  width: 100%;
  
  blockquote {
    font-style: italic;
  }

  h1 {
    font-family: ltc-bodoni-175, serif;
    font-size: 3rem;
    font-weight: 100;
    width: 90%;
  }
  
  h2 {
    font-family: ltc-bodoni-175, serif;
    font-size: 2rem;
    font-weight: 100;
    width: 90%;
  }

  h3 {
    font-family: ltc-bodoni-175, serif;
    font-size: 1.75rem;
    font-weight: 100;
    width: 90%;
  }

  ul {
    width: 55%;
    @media only screen and (max-width: 1024px) { width: 90%; }
  }

  p {
    font-family: $font-family-calson;
    font-size: 1.4rem;
    width: 55%;
    @media only screen and (max-width: 1024px) { width: 90%; }
  }

  pre {
    width: 55%;
    @media only screen and (max-width: 1024px) { width: 90%; }
  }

  code {
    font-family: lft-etica-mono;
    color: darkblue;
  }

  li {
    font-family: $font-family-calson;
    font-size: 1.4rem;
  }
}