
// FONT FAMILIES

$font-family-neue-haas: neue-haas-grotesk-display, sans-serif;
$font-family-serif-header: neue-haas-grotesk-display, sans-serif;
$font-family-body-big: $font-family-serif-header;

$font-family-body: aktiv-grotesk, sans-serif;

$font-family-calson: adobe-caslon-pro, serif;

// FONT WEIGHTS

$font-weight-serif-header: 400;
$font-weight-body-regular: 400;
$font-weight-body-light: 300;

// FONT SIZES

$font-size-header-big: 120px;
$font-size-body-big: 32px;
